body {
	padding: 0;
	margin: 0;
	font-family: 'Source Sans Pro', Helvetica;
	background: url(../img/bg.jpg) center;
	background-size: cover;
}

#hug {
	min-height: 100%;
	padding: 200px;
	background: rgba(255,255,255,0.8);
}

#hug.green {
	background: rgba(66,239,127,0.8);
}

#hug.yellow {
	background: rgba(245,238,39,0.8);
}

#hug.red {
	background: rgba(239,66,66,0.8);
}

button {
	border: 0;
	background: none !important;
	border: 2px solid #232323;
	color: #232323;
	padding: 14px 14px;
	font-size: 15px;
	line-height: 15px;
	text-transform: uppercase;
	display: block;
	margin-bottom: 10px;
	cursor: pointer;
}

button:hover {
	border-color: #444;
	color: #444;
}

button:active {
	border-color: #000;
	color: #000;
}

button.stop {
	margin-top: 32px;
}